<html>
	<head>
		<title>Blue Jobs</title>
		<script src="https://use.fontawesome.com/releases/v5.15.2/js/all.js" data-auto-replace-svg="nest"></script>
	</head>
	<body><img style="width: 100%;
		overflow: hidden;" src="https://source.unsplash.com/HqVP3jFno_Y/1400x700">
		<div id="navbar">
			<i class="fas fa-bars"></i>
			<a (click)="registerSeeker()">Find a job</a>
            <a (click)="registerEmployer()">Post a job</a>
			<a (click)="login()">Login</a>
			<a >English</a>
			<a >Hindi</a>
		</div>
		
		
	</body>
</html>
