<html>
	<head>
		<title>Profile Page</title>
	</head>
	<body>
		<div id="container">
			<!-- A card for the seeker's profile-->
			<div class="profile_pic"><img src="https://scontent.fgau1-1.fna.fbcdn.net/v/t1.0-9/25395892_1121237924679085_2104203765891560675_n.jpg?_nc_cat=103&ccb=3&_nc_sid=730e14&_nc_ohc=Hu4PiaqQMaMAX8yL_MX&_nc_ht=scontent.fgau1-1.fna&oh=92bb494704e9fcd30f04eacc02de136a&oe=604C4597"></div>
			<p class="details">
			Name : {{SeekerProfile.name}}<br>
			Age : {{SeekerProfile.age}}<br>
			Description/Skills: {{SeekerProfile.skills}}<br>
			Experience: {{SeekerProfile.experience}}<br>
			Contact: {{SeekerProfile.address}}, {{SeekerProfile.pincode}}<br>
			Rating: 4/5
			<a>Rating</a>
			</p>
		</div>
	</body>
</html>
